<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello World.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F2C3EFF1C59223D00A344B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2C3F161C59223E00A344B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2C3F211C59223E00A344B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
